*{
	margin:0;
	padding:0;
}
body{
	font-family:'微软雅黑';
	overflow: hidden;
	margin-bottom:100px;
}
a{
	text-decoration:none;
	color:#666;
}
li{
	list-style:none;
}
.float_right{
	float:left;
}
.float_left{
	float:left;
}
.clear_float:after{
	display:block;
	content:'';
	clear:both;
}
.ellipsis{
	-o-text-overflow:ellipsis;
	   text-overflow:ellipsis;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}
